---
# SCSS
---

body {
    background: #222;
    color: #ddd;
}

nav {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin-top: 25px;
    margin-bottom: 25px;

    @media only screen and (min-width: 1000px) {
        position: sticky;
        top: -1px;
        background: #222;
        z-index: 99;
    }

    div {
        list-style-type: none;
        margin: 0;
        padding: 5px;
        padding-right: 0;
        text-align: center;

        span {
            display: inline;
            padding-right: 5px;
        }

        .navsep {
            display: none;
        }
    }

    a {
        color: #888;

        display: inline-block;
        padding: 10px;

        &.primary {
            color: #bbb;
        }

        &:hover {
            color: #bbb;
            text-decoration: underline;
        }
    }
}

#title {
    text-align: center;
    padding-top: 10px;
    a {
        color: #fff;
    }
}

#title, nav {
    a {
        text-decoration: none;
    }
}

iframe {
    border: 1px solid #111;
    border-radius: 5px;
    width: 100%;
    height: 500px;
}

.icon {
    height: 1.3em;
    position: relative;
    top: 0.3em;
}

pre > code {
    white-space: pre-wrap;
}

code {
    background: #111;
    border-color: #1e1e1e;
}

table {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    border-spacing: 0px;

    tbody {
        tr:hover {background-color: #1a1a1a;}

        td {
            border-color: #333;
        }
    }
}

.button, button, input[type="button"], input[type="reset"],
  input[type="submit"] {
    color: #aaa;
    border-color: #aaa;

    &:hover, &:active {
        color: #fff;
        border-color: #fff;
    }
}

// This fixes a glitch on Safari.
input[type="submit"] {
    -webkit-appearance: none;
}
