---
# SCSS
---

nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 25px;
    margin-bottom: 25px;

    @media only screen and (min-width: 1000px) {
        position: sticky;
        top: -1px;
        background: #fff;
        z-index: 99;
    }

    div {
        list-style-type: none;
        margin: 0;
        padding: 5px;
        padding-right: 0;
        text-align: center;

        span {
            display: inline;
            padding-right: 5px;
        }

        .navsep {
            display: none;
        }
    }

    a {
        color: #999;

        display: inline-block;
        padding: 10px;

        &.primary {
            color: #555;
        }

        &:hover {
            color: #333;
            text-decoration: underline;
        }
    }
}

#title {
    text-align: center;
    padding-top: 10px;
    a {
        color: #000;
    }
}

#title, nav {
    a {
        text-decoration: none;
    }
}

iframe {
    border: 1px solid #eee;
    border-radius: 5px;
    width: 100%;
    height: 500px;
}

.icon {
    height: 1.3em;
    position: relative;
    top: 0.3em;
}

pre > code {
    white-space: pre-wrap;
}

table {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    border-spacing: 0px;
    tbody tr:hover {background-color: #f5f5f5;};
}
